.cards {
    width: 100%;
    display: flex;
    row-gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-in-search {
    justify-content: flex-start; 
    column-gap: 48px;
}