.category-cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.category-cards .category-card{
    border-radius:var(--border-radius-lg);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0px 5px rgba(25, 74, 133, 0.1);
   
}
.category-card:hover {
 box-shadow: 0 6px 15px rgba(90, 102, 185, 0.2);
}
.category-card .img-item{
    width: 330px;
    height: 230px;
    display: block;
}
.category-card .text{
    font-size:var(--font-size-xl);
    color:var(--primary);
    font-weight:var(--font-weight-bold);
    width: 330px;
    height: 50px;
    background-color: #F0EFEF;
    text-align: center;
    padding-block: 20px;
}