.hero-write {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero-write .left-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.left-content .content-title {
    font-size:var( --font-size-xl);
    display: flex;
    flex-direction: column;
}
.content-title .highlight {
    font-size: var(--font-size-xxl);
    font-weight:var(--font-weight-bold);
    color:var(--primary) ;
    margin-top:20px;
}

.left-content .content-description{
    font-size: var(--font-size-lg);
}
.left-content .button-write {
    width: 200px;
    height: 70px;
    background-color: #76c1e1;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-lg);
    box-shadow: 0px 2px 3px 2px rgba(7, 7, 7, 0.2);
    transition: transform 0.2s ease;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.left-content .button-write:hover {
    transform: translateY(-3px); 
    box-shadow: 0px 2px 6px 2px rgba(7, 7, 7, 0.2);
}
.hero-write .right-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.right-content .img-write {
    width: 600px;
    height: 200px;
    object-fit: cover;
}
