.hero {
    display: flex; 
    justify-content: space-between; 
}
.hero .img-hero {
    max-width: 630px;
    height: 410px;
}
.hero .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .heading{ 
    font-size:var(--font-size-xxl);
    font-weight:var(--font-weight-bold);
    color: var(--primary);
}
.content .description{
    font-size:var(--font-size-xl);
    margin-top: 45px;
}
