.slider-1 {
    width: 100%;
    overflow: hidden;
    margin: 30px 0px;
}
.slides {
    display: flex;
}
.slide {
    min-width: 100%;
}
.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}