#header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
#body {
    max-width: 1229px;
    padding-top: 120px;
    padding-inline: 55px;
    margin-bottom: 70px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}
