#header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
#body {
    padding-top: 150px;
    margin-inline: 60px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* authentication */
.container {
    background-color: var(--bg-color-primary);
}