.footer {
    background-color: var(--bg-color-primary);
    max-height: 250px;
    max-width: 1286px;
    display: flex;
    gap: 20px;
    padding: 58px 40px;  
    margin-inline: auto;
}

.footer .scholar, 
.footer .writes,
.footer .notes,
.footer .gears,
.footer .more {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer a:hover {
    cursor: pointer;
}
