.header  {
    background-color: var(--bg-color-primary);
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

.header .left-header {
    display: flex;
    gap: 50px;
    align-items: center;
}

.left-header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.left-header .logo-img {
    height: 51px;
    width: 51px;
    object-fit: cover;
}

.left-header .search {
    height: 40px;
    width: 350px;
    border-radius: 7px;
    background-color: var(--light);
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    align-items: center;
    line-height: 40px;
}

.search .search-input {
    flex:1;
    border: none; 
    outline: none;
}

.search .search-icon {
    height: 100%;
    min-width: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #F0EFEF;
}

.search-icon .search-icon-img {
    line-height: 30px;
}

.header .category {
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category .category-item {
    height: 30px;
    min-width: 50px;
    text-align: center;
}

.category .category-item:hover {
    border-bottom: 1px solid #F0EFEF;
}

.category-item .link {
    color: #000;
    text-decoration: none;
    line-height: 30px;
    transition: all 0.3s ease; 
}

.category-item:hover > .link {
    color: #F0EFEF; 
}

.header .right-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-header .cart {
    cursor: pointer;
}

.right-header .authentication {
    display: flex;
    gap: 20px;
    align-items: center;
}

.authentication .sign-in,
.authentication .log-in {
    font-weight: bold;
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.authentication .log-in {
    border-radius: 7px;
    background-color: #F0EFEF;
}

.authentication .sign-in:hover,
.authentication .log-in:hover {
    background-color: #fff;
}

.authentication .sign-in:hover {
    border-radius: 5px;
}