.card {
    background-color: red;
    width: 390px;
    height: 540px;
}

.card .img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* .card .content {

} */

.content .product-price {
    color: var(--text-color-primary);
}

